$progress_time: 5s;
@import "components/progress";
@import "components/elephant";

body, .claim-container {
  background-color: #000000;
  color: #ffffff;
  font-family: Inconsolata-Regular, monospace;
  overflow: hidden;
}

.claim-container {
  padding: 50px;
}

.counter-wheel {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width:8em;
  height:8em;
  .counter-wheel-content {
    font-size: 15px;
  }
}
.counter-wheel {
  color: teal;
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../fonts/Inconsolata-Regular.eot');
  src: url('../fonts/Inconsolata-Regular.woff') format('woff'),
  url('../fonts/Inconsolata-Regular.ttf') format('truetype'),
  url('../fonts/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg'),
  url('../fonts/Inconsolata-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../fonts/Inconsolata-Bold';
  src: url('../fonts/Inconsolata-Bold.eot');
  src: url('../fonts/Inconsolata-Bold.woff') format('woff'),
  url('../fonts/Inconsolata-Bold.ttf') format('truetype'),
  url('../fonts/Inconsolata-Bold.svg#Inconsolata-Bold') format('svg'),
  url('../fonts/Inconsolata-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #d3d3d3;
  &:hover {
    color: #d3d3d3;
  }
}

.claim {
  text-align: left;

  h1 {
    font-size:55px;
  }
}

.leaderboard {
  z-index:1;
  color: #808080;

  .bg-secondary {
    color: #FFFFFF;
    cursor: hand;
  }

  .list-group {
    max-height: 280px;
    overflow: scroll;
  }
  .just_online {
    .badge {
      float:right;
    }
  }

  margin-top: 5px;
  float:right;
  width: 15rem;

  .card-title {
    text-align: center;
    color: #000000;
  }

}


#connectionInfo {
  text-align: right;
  margin-bottom: -25px;
}

@media (min-width: 640px) {
  .visible-xs {
    display:none;
  }
}

@media (max-width: 840px) {
  .leaderboard {
    visibility: hidden;
    opacity:0;
  }
  .gameStarted {
    .claim h1 {
      color:#000000; //hide text
      transition: color 2s;
    }
    .leaderboard {
      visibility: visible;
      transition: opacity 2s;
      opacity:1;
    }
  }
  .counter-wheel {
    display:none;
  }
  .claim h1 {
    font-size: 5vw;
  }
  .ele-wrapper {
    zoom: 0.8;
    top:60%;
  }
}