$width:  140px;
$height: 180px;

.hunter {
  width: 112px;
  bottom:140px;
  zoom:0.8;

  .name {
    display: block;
    text-align: center;
    margin-bottom: -15px;
  }

  &.rtl .himage {
    transform: scale(-1, 1);
  }
}

.himage {
  width:  $width;
  height: $height;
  background-image: url(../server/elephants/hunter/hunter.svg);
  background-repeat: no-repeat;
  background-size: 600px 400px;

  -moz-transform: scale(0.8);

  animation: hunter-animation 1s steps(1) both infinite;
}

@keyframes hunter-animation {
  0% {
    background-position: -100px -20px;
    //background-position: $width*-.3  -5px;
  }
  20% {
    //background-position: $width*-.95 -5px;
    background-position: -230px -20px;
  }
  40% {
    //background-position: $width*-1.6 -5px;
    background-position: -360px -20px;

  }
  60% {
    //background-position: $width*-.3  $height*-.9;
    background-position: -104px -193px;
  }
  80% {
    //background-position: $width*-.95 $height*-.9;
    background-position: -234px -193px;
  }
}

@keyframes hunter-animation-5 {
  0% {
    background-position: -100px -20px;
    //background-position: $width*-.3  -5px;
  }
  16.7% {
    //background-position: $width*-.95 -5px;
    background-position: -230px -20px;
  }
  33.3% {
    //background-position: $width*-1.6 -5px;
    background-position: -360px -20px;

  }
  50% {
    //background-position: $width*-.3  $height*-.9;
    background-position: -104px -193px;
  }
  66.7% {
    //background-position: $width*-.95 $height*-.9;
    background-position: -234px -193px;

  }
  83.3% {
    //background-position: $width*-1.6 $height*-.9;
    background-position: -360px -193px;
  }
}