.benjamin {
  img.eleImg {
    width: 250px*$eleSizeMultiplicator;
    margin-top: -600px;
    animation: shake 2.5s cubic-bezier(.36,.07,.19,.97) both infinite;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}