/***********VARIABLES***********/
/*Movement*/
$ele-bezier-animation: cubic-bezier(0.63, 0.15, 0.49, 0.93);

/*Colors*/
$main-color: #C2C2C2;
$line-color: #808080;
$eye-color: #FDFDFD;
$fang-color: #FFF;
$nail-color: #E0E0E0;
$left-start-position: -20%;
$right-start-position: -25%;
$shadow-color: rgba(74, 74, 74, 0.53);  //Set rgba for color opacity

$eleSizeMultiplicator: 0.6;
$eleWidth: 200px*$eleSizeMultiplicator;


.ele-container {
  overflow: hidden;
  width: 100%;
}

body.pause .ele-wrapper {
  animation-play-state: paused!important;
}

.ele-wrapper {
  @each $speed in 1, 2, 3, 4, 5 {
    @each $direction in ltr,rtl {
      &.#{$direction}.speed#{$speed} {
        animation: ele-movement 1s infinite linear, ele-ahead-#{$direction} $progress_time * $speed infinite linear;

        &.shot.ka-rebound {
          animation: ele-movement 1s infinite linear, ele-ahead-#{$direction} $progress_time * $speed infinite linear, shot-animation 3s cubic-bezier(0.2, -0.35, 0.91, 0.94) forwards !important;
          transform-origin: 0 100%
        }
        &.shot.ka-crash {
          animation: ele-movement 1s infinite linear, ele-ahead-#{$direction} $progress_time * $speed infinite linear, shot-animation 5s cubic-bezier(0.18, 0.18, 0.91, 0.94) forwards !important;
        }
        &.shot.ka-rotate {
          animation: ele-movement 1s infinite linear, ele-ahead-#{$direction} $progress_time * $speed infinite linear, shot-rotation 2s cubic-bezier(0.7, 0.27, 1, 1) forwards !important;
        }
      }
    }
  }

  img {
    user-select: none;
  }

  &.default {
    img {
      margin-bottom: -25px;
    }
  }

  &.animated {
    .ele-body {
      animation: body-movement 1s infinite $ele-bezier-animation;
    }
    .ele-tail {
      animation: tail-movement 1s infinite $ele-bezier-animation;
    }
    .ele-head {
      animation: head-movement 2s infinite linear;
    }
    %ele-eye {
      animation: eyes-blink 3.5s infinite linear;
    }
    .ele-eyebrows {
      animation: eyebrows-movement 1s infinite $ele-bezier-animation;
    }
    .ele-ear {
      animation: ear-movement 1s infinite linear;
    }
    .ele-mouth {
      animation: mouth-movement 1s infinite linear;

      &:before {
        animation: mouth-after-movement 1s infinite linear;
      }
    }
  }
}

$transformPosition: translate3D(0%, 60%, 0);

.ele-wrapper {
  &.ltr {
    left: $left-start-position;
  }
  &.rtl {
    right: $right-start-position;
  }
  //position: absolute;
  //top: 50%;
  transform: $transformPosition;
  position: absolute;
  bottom: 203px*$eleSizeMultiplicator;
  width: $eleWidth;

  img.eleImg {
    width: $eleWidth + ($eleWidth * 0.3);
  }

  &.killable {
    cursor: url("../img/target.png") 17 17, auto;
  }

  &:target {
    animation: none;
  }
}

.ele-body {
  background: linear-gradient(to bottom, lighten($main-color, 5%) 0%, darken($main-color, 15%) 70%);
  border: 1px solid $line-color;
  border-radius: 100px 50px 70px 60px;
  height: 165px*$eleSizeMultiplicator;
  position: relative;
  width: 100%;
  z-index: 1;
}

.ele-tail {
  border-top: 7px solid $line-color;
  border-radius: 50%;
  height: 50px*$eleSizeMultiplicator;
  position: absolute;
  transform: translate3d(-3%, 69%, 0) rotateZ(-20deg);
  width: 64px*$eleSizeMultiplicator;

  &:before {
    border-top: 5px solid $main-color;
    border-radius: 50%;
    content: '';
    height: 50px*$eleSizeMultiplicator;
    position: absolute;
    width: 64px*$eleSizeMultiplicator;
    top: -6px*$eleSizeMultiplicator;
  }
}

.ele-head {
  background: $main-color;
  border-radius: 50%;
  border-top: 1px solid $line-color;
  box-shadow: -1px 1px 2px $line-color;
  height: 150px*$eleSizeMultiplicator;
  position: absolute;
  transform: translate3d(80%, -25%, 0);
  width: 155px*$eleSizeMultiplicator;
}

%ele-eye {
  background-color: $eye-color;
  border-radius: 50%;
  bottom: -48px*$eleSizeMultiplicator;
  content: '';
  height: 10px*$eleSizeMultiplicator;
  position: absolute;
  width: 10px*$eleSizeMultiplicator;
}

.ele-eyebrows {
  background: linear-gradient(to top, $main-color 20%, darken($main-color, 15%) 100%);
  border-radius: 10px;
  border-top: 1px solid $line-color;
  bottom: 88px*$eleSizeMultiplicator;
  height: 20px*$eleSizeMultiplicator;
  left: 92px*$eleSizeMultiplicator;
  position: absolute;
  width: 60px*$eleSizeMultiplicator;
}

.ele-eyes {
  left: 60%;
  position: absolute;
  top: 6%;

  &:before {
    @extend %ele-eye;

    left: 41px*$eleSizeMultiplicator;
  }

  &:after {
    @extend %ele-eye;

    left: 10px*$eleSizeMultiplicator;
  }

}

.ele-ear {
  background: linear-gradient(to left, $main-color 10%, darken($main-color, 10%) 100%);
  border-bottom: 1px solid $line-color;
  border-left: 1px solid $line-color;
  border-top: 1px solid $line-color;
  border-radius: 60px 0 0 50%;
  height: 110px*$eleSizeMultiplicator;
  left: -22px*$eleSizeMultiplicator;
  position: absolute;
  top: 25px*$eleSizeMultiplicator;
  transform: rotateZ(-10deg);
  width: 60px*$eleSizeMultiplicator;
}

.ele-mouth {
  background: linear-gradient(to bottom, $main-color 50%, darken($main-color, 10%) 100%);
  border-radius: 0px 100% 0px 0px;
  border-top: 2px solid $line-color;
  height: 160px*$eleSizeMultiplicator;
  left: 83%;
  position: absolute;
  top: 35%;
  width: 30px*$eleSizeMultiplicator;

  &:before {
    background-color: darken($main-color, 10%);
    border-bottom: 1px solid $line-color;
    border-left: 1px solid $line-color;
    border-radius: 8px;
    bottom: 0;
    content: '';
    height: 15px*$eleSizeMultiplicator;
    left: -5px*$eleSizeMultiplicator;
    position: absolute;
    width: 40px*$eleSizeMultiplicator;
  }
}

%ele-fang {
  border-bottom: 12px solid $fang-color;
  border-radius: 50%;
  height: 40px*$eleSizeMultiplicator;
  position: absolute;
  transform: rotateZ(20deg);
  width: 50px*$eleSizeMultiplicator;
}

.ele-fang-front {
  @extend %ele-fang;
  box-shadow: 0px 1px 0px $line-color;
  left: 100px*$eleSizeMultiplicator;
  top: 100px*$eleSizeMultiplicator;

  &:before {
    background-color: $main-color;
    bottom: -10px*$eleSizeMultiplicator;
    content: '';
    height: 45px*$eleSizeMultiplicator;
    left: -5px*$eleSizeMultiplicator;
    position: absolute;
    width: 15px*$eleSizeMultiplicator;
  }

  &:after {
    background-color: $main-color;
    border-radius: 0 50% 50% 0;
    bottom: -14px*$eleSizeMultiplicator;
    box-shadow: 1px 1px 0px $line-color;
    content: '';
    height: 21px*$eleSizeMultiplicator;
    left: 6px*$eleSizeMultiplicator;
    position: absolute;
    transform: rotateZ(20deg);
    width: 15px*$eleSizeMultiplicator;
  }
}

.ele-fang-back {
  @extend %ele-fang;

  border-bottom-color: darken($fang-color, 10%);
  left: 115px*$eleSizeMultiplicator;
  top: 95px*$eleSizeMultiplicator;
  z-index: -1;

  &:before {
    background-color: $main-color;
    bottom: -10px*$eleSizeMultiplicator;
    content: '';
    height: 25px*$eleSizeMultiplicator;
    position: absolute;
    width: 30px*$eleSizeMultiplicator;
  }
}

div[class^="ele-leg-"] {
  border-left: 1px solid $line-color;
  height: 88px*$eleSizeMultiplicator;
  position: absolute;
  width: 50px*$eleSizeMultiplicator;

  &:before {
    background-color: $shadow-color;
    border-radius: 50%;
    bottom: -30px*$eleSizeMultiplicator;
    box-shadow: 0 0 2px $shadow-color;
    content: '';
    height: 10px*$eleSizeMultiplicator;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) rotateZ(0deg);
    width: 50px*$eleSizeMultiplicator;
  }
}

.ele-leg-front {
  background-color: darken($main-color, 15%);
  top: 100%;
  z-index: 1;

  .ele-foot {
    background-color: darken($main-color, 15%);
  }
}

.ele-leg-back {
  background-color: darken($main-color, 25%);
  top: 95%;

  .ele-foot {
    background-color: darken($main-color, 25%);

    &:before, &:after {
      background-color: darken($nail-color, 15%);
    }
  }
}

.ele-leg-1 {
  animation: leg-animation 2s infinite $ele-bezier-animation 0s;
  right: 57.5%;

  &:before {
    animation: foot-shadow-animation 2s infinite $ele-bezier-animation 0s;
  }

  .ele-foot {
    animation: foot-animation 2s infinite $ele-bezier-animation 0s;
  }
}

.ele-leg-2 {
  animation: leg-animation 2s infinite $ele-bezier-animation -1s;
  right: 67.5%;

  &:before {
    animation: foot-shadow-animation 2s infinite $ele-bezier-animation -1s;
  }

  .ele-foot {
    animation: foot-animation 2s infinite $ele-bezier-animation -1s;
  }
}

.ele-leg-3 {
  animation: leg-animation 2s infinite $ele-bezier-animation -1s;
  right: 5%;

  &:before {
    animation: foot-shadow-animation 2s infinite $ele-bezier-animation -1s;
  }

  .ele-foot {
    animation: foot-animation 2s infinite $ele-bezier-animation -1s;
  }
}

.ele-leg-4 {
  animation: leg-animation 2s infinite $ele-bezier-animation 0s;
  right: 15%;

  &:before {
    animation: foot-shadow-animation 2s infinite $ele-bezier-animation 0s;
  }

  .ele-foot {
    animation: foot-animation 2s infinite $ele-bezier-animation 0s;
  }
}

%ele-nail {
  background-color: $nail-color;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  content: '';
  height: 15px*$eleSizeMultiplicator;
  position: absolute;
  width: 11px*$eleSizeMultiplicator;
}

.ele-foot {
  border-radius: 25px 25px 35% 40%;
  bottom: -17.5px*$eleSizeMultiplicator;
  box-shadow: -1px 1px 0px $line-color;
  height: 35px*$eleSizeMultiplicator;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-49%) rotateZ(0deg);
  width: 55px*$eleSizeMultiplicator;

  &:before {
    @extend %ele-nail;

    right: -7.5px*$eleSizeMultiplicator;
  }

  &:after {
    @extend %ele-nail;

    bottom: -3px*$eleSizeMultiplicator;
    right: 5px*$eleSizeMultiplicator;
  }
}

@keyframes leg-animation {
  0% {
    height: 65px*$eleSizeMultiplicator;
    transform: translate3d(0, -90%, 0) rotate3d(0, 0, 1, 10deg) translate3d(0, 30%, 0);
  }
  25% {
    height: 40px*$eleSizeMultiplicator;
  }
  50% {
    height: 65px*$eleSizeMultiplicator;
    transform: translate3d(0, -90%, 0) rotate3d(0, 0, 1, -15deg) translate3d(0, 30%, 0);
  }
  75% {
    height: 65px*$eleSizeMultiplicator;
  }
  100% {
    height: 65px*$eleSizeMultiplicator;
    transform: translate3d(0, -90%, 0) rotate3d(0, 0, 1, 10deg) translate3d(0, 30%, 0);
  }
}

@keyframes foot-animation {
  0% {
    transform: translateX(-49%) rotateZ(-10deg);
  }
  15% {
    transform: translateX(-49%) rotateZ(5deg);
  }
  40% {
    transform: translateX(-49%) rotateZ(0deg);
  }
  50% {
    transform: translateX(-49%) rotateZ(15deg);
  }
  100% {
    transform: translateX(-49%) rotateZ(-10deg);
  }
}

@keyframes foot-shadow-animation {
  0% {
    transform: translateX(-50%) rotateZ(-8deg);
    bottom: -20px*$eleSizeMultiplicator;
    width: 50px*$eleSizeMultiplicator;
  }
  25% {
    bottom: -30px*$eleSizeMultiplicator;
    width: 40px*$eleSizeMultiplicator;
  }
  50% {
    transform: translateX(-50%) rotateZ(13deg);
    bottom: -20px*$eleSizeMultiplicator;
    width: 50px*$eleSizeMultiplicator;
  }
  100% {
    transform: translateX(-50%) rotateZ(-8deg);
    bottom: -20px*$eleSizeMultiplicator;
    width: 50px*$eleSizeMultiplicator;
  }
}

@keyframes fallingLeaves {
  0% {
    opacity: 1;
    transform: translate(0, 0px) rotateZ(0deg) $transformPosition;
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(100px, 600px) rotateZ(270deg) $transformPosition;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(150px, 800px) rotateZ(360deg) $transformPosition;
  }
}

@keyframes shot-animation {
  0% {
    opacity: 1;
    transform: translate(0, 0px) rotateZ(0deg) $transformPosition;
  }

  100% {
    opacity: 0;
    transform: translate(150px, 800px) rotateZ(360deg) $transformPosition;
  }
}

@keyframes shot-rotation {
  0% {
    opacity: 1;
    transform: $transformPosition rotate(0deg);
  }
  10% {
    transform: $transformPosition rotate(360deg);
  }
  20% {
    transform: $transformPosition rotate(0deg);
  }
  30% {
    transform: $transformPosition rotate(360deg);
  }
  40% {
    transform: $transformPosition rotate(0deg);
  }
  50% {
    transform: $transformPosition rotate(360deg);
  }
  60% {
    transform: $transformPosition rotate(0deg);
  }
  70% {
    transform: $transformPosition rotate(360deg);
  }
  80% {
    transform: $transformPosition rotate(0deg);
  }
  90% {
    transform: $transformPosition rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: $transformPosition rotate(0deg);
  }
}

@keyframes eyes-blink {
  0% {
    height: 10px*$eleSizeMultiplicator
  }
  3% {
    height: 1px*$eleSizeMultiplicator
  }
  5% {
    height: 10px*$eleSizeMultiplicator
  }
  100% {
    height: 10px*$eleSizeMultiplicator
  }
}

@keyframes ele-movement {
  0% {
    transform: $transformPosition;
  }
  50% {
    transform: translate3D(0%, 57%, 0);
  }
  100% {
    transform: $transformPosition;
  }
}

@keyframes ele-ahead-ltr {
  0% {
    left: $left-start-position;
  }
  100% {
    left: 115%;
  }
}

@keyframes ele-ahead-rtl {
  0% {
    right: $right-start-position;
  }
  100% {
    right: 115%;
  }
}

@keyframes mouth-movement {
  0% {
    height: 160px*$eleSizeMultiplicator;
    width: 28px*$eleSizeMultiplicator;
  }
  50% {
    height: 150px*$eleSizeMultiplicator;
    width: 30px*$eleSizeMultiplicator;
  }
  100% {
    height: 160px*$eleSizeMultiplicator;
    width: 28px*$eleSizeMultiplicator;
  }
}

@keyframes mouth-after-movement {
  0% {
    width: 37px*$eleSizeMultiplicator;
  }
  50% {
    width: 40px*$eleSizeMultiplicator;
  }
  100% {
    width: 37px*$eleSizeMultiplicator;
  }
}

@keyframes tail-movement {
  0% {
    transform: translate3d(-3%, 69%, 0) rotateZ(-20deg);
  }
  50% {
    transform: translate3d(-5%, 65%, 0) rotateZ(-18deg);
  }
  100% {
    transform: translate3d(-3%, 69%, 0) rotateZ(-20deg);
  }
}

@keyframes head-movement {
  0% {
    transform: translate3d(80%, -22%, 0) rotateZ(3deg);
  }
  25% {
    transform: translate3d(80%, -22.5%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate3d(80%, -23%, 0) rotateZ(-3deg);
  }
  75% {
    transform: translate3d(80%, -22.5%, 0) rotateZ(0deg);
  }
  100% {
    transform: translate3d(80%, -22%, 0) rotateZ(3deg);
  }

}

@keyframes body-movement {
  0% {
    height: 160px*$eleSizeMultiplicator;
    margin-top: 5px*$eleSizeMultiplicator;
  }
  50% {
    height: 162.5px*$eleSizeMultiplicator;
    margin-top: 2.5px*$eleSizeMultiplicator;
  }
  100% {
    height: 160px*$eleSizeMultiplicator;
    margin-top: 5px*$eleSizeMultiplicator;
  }
}

@keyframes ear-movement {
  0% {
    height: 115px*$eleSizeMultiplicator;
  }
  50% {
    height: 110px*$eleSizeMultiplicator;
  }
  100% {
    height: 115px*$eleSizeMultiplicator;
  }
}

@keyframes eyebrows-movement {
  0% {
    height: 18px*$eleSizeMultiplicator;
  }
  50% {
    height: 20px*$eleSizeMultiplicator;
  }
  100% {
    height: 18px*$eleSizeMultiplicator;
  }
}

.initialTarget {
  text-align: center;
  margin-top: 20px*$eleSizeMultiplicator;
  margin-left: 35px*$eleSizeMultiplicator;
  opacity:0;
  animation: initial-target-animation 1s steps(5, start) infinite;
  -webkit-animation: initial-target-animation 1s steps(5, start) infinite;
}

@keyframes initial-target-animation {
  0% {
    margin-top: 20px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 25px;
    opacity: 1;
  }
}

@import "../../server/elephants/lia/lia";
@import "../../server/elephants/benjamin/benjamin";
@import "../../server/elephants/hunter/hunter";
