.lia {
  img.eleImg {
    width: 200px*$eleSizeMultiplicator;
    animation: ele-jump 1s infinite cubic-bezier(0, 0.31, 1, 1);
  }
}

@keyframes ele-jump {
  0% {
    transform:  rotate(0deg) ;
  }

  50% {
    transform:  rotate(19deg) ;
  }

  100% {
    transform:  rotate(0deg) ;
  }
}